/* >= 1920px */
.sidebar {
    position: relative;
    width: 150px;
    height: 100vh;
    box-shadow: 0.29px 0 0 rgb(124, 124, 124);
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    background-color: inherit;
    position: fixed;
    border-right: 1px solid var(--white-to-gray);
    z-index: 100;
}

.searchContainer {
    position: absolute;
    top: 0;
    left: 90px;
    height: 100vh;
    background: var(--bg-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15) !important; /* Shadow rõ hơn khi focus */
    transition: transform 0.3s ease;
    transform: translateX(-300%);
    border-radius: 10px;
    z-index: 100 !important;
}

.searchContainer.slide {
    transform: translateX(0);
    z-index: 100 !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.box {
    width: 400px;
    padding: 20px;
    background: inherit;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.navbar {
    margin-top: -10px;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.show_icon_logo {
    display: none;
}

@media (min-width: 1264px) and (max-width: 1919px) {
    .sidebar {
        width: 150px;
    }
}

@media (min-width: 768px) and (max-width: 1263px) {
    .sidebar {
        width: 150px;
    }
    .show_icon_logo {
        display: block;
    }
    .show_logo {
        margin: 0 10px 0 4px;
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 150px;
        flex-direction: row;
        justify-content: space-evenly;
        height: 50px;
        background-color: inherit;
        border-top: 1px solid rgba(219, 219, 219, 1);
    }
    .show_logo {
        margin: 0 10px 0 4px;
        display: none;
    }
    .hide_icon_more {
        display: none;
    }
    .hide_on_mobile {
        display: none;
    }
    .navbar {
        display: contents;
    }
}

@media screen and (max-width: 470px) {
    .hide_on_mobile {
        display: none;
    }
}
