.nav_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-right: 4px;
    padding-left: 20px;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
}

.nav_item:hover {
    background-color: var(--bg-color-hover);
    border-radius: 10px;
}

.active {
    font-weight: 700;
    border-radius: 10px;
}

.nav_title {
    margin-left: 20px;
}

@media (min-width: 768px) and (max-width: 1263px) {
    .nav_title {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .nav_title {
        display: none;
    }
    .nav_item {
        display: inline-block;
        margin: 0;
    }
}
